.title{
	font-weight: 700;
	font-size: 30px;
	text-align: center;
	color: #0D0D0D;
	text-transform: uppercase;
	&_left {
		font-style: normal;
		font-size: 36px;
		line-height: 54px;
		color: #FFFFFF;
		text-align: left;
	}
	&_feedback{
		font-weight: bold;
	}
	}